<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="<%=projects_dashboard_path%>">PROYECTOS</a>
  <span class="mr-auto">
    <a class="btn btn-info" href="<%=projects_new_path%>" role="button"
      >Create your project</a
    ></span
  >
</nav>
