<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="<%=projects_dashboard_path%>">PROYECTOS</a>
  <span class="mr-auto">
    <a class="btn btn-info" href="<%=projects_new_path%>" role="button"
      >Create your project</a
    ></span
  >
  <form class="form-inline my-2 my-lg-0">
    <select name="status" class="custom-select mr-2" id="status" required>
      <option selected disabled value="">Status</option>
      <option>Propuesta</option>
      <option>En progreso</option>
      <option>Terminado</option>
    </select>
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>
